<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facere eum quis nobis voluptatem vel quia neque at quas unde? Fuga assumenda omnis fugiat quia non quos, ipsum illum ex inventore iusto quas voluptatem commodi dignissimos rerum, modi at animi. Laborum, quaerat! Assumenda officiis nam atque reiciendis nostrum ducimus corrupti!</p>
    </div>
</div>