<div class="jumbotron mt-4">
<h1 class="display-4">Notes app NodeJS and MongoDB</h1>
<p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, tenetur itaque nesciunt fuga tempore sit vero hic minus esse ullam?</p>
<hr class="mt-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid molestiae vero aut sed quam aspernatur accusamus nemo odio hic et saepe consequuntur, debitis autem mollitia ut quas quod modi soluta. Dolore illum culpa magnam tempore beatae iste est minima expedita placeat exercitationem. Veniam ipsum similique cumque error nemo veritatis totam, eum, saepe quidem iusto at, ullam illum? Perspiciatis obcaecati numquam veniam eveniet est dolorum modi ea, quisquam eius id recusandae? Itaque quod ab inventore. Corrupti dolore illo ut reprehenderit soluta consequuntur, excepturi culpa doloremque quam, et eius esse explicabo earum! Accusantium quasi expedita recusandae beatae nesciunt. Incidunt distinctio quae vero.</p>
<a href="http://" class="btn btn-primary btn-lg">FaztWeb</a>
</div>
